* {
  box-sizing: border-box;
  word-wrap: break-word;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

header {
  background-image: url('/images/austin_dining.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  height: 680px;
  padding: 180px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow: hidden;
}

.user-interactions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


form {
  margin: 0;
}

.home-logo {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.fun-buttons form button,
.user-welcome {
  padding: 0.7em 1em;
  background: transparent;
  color: white;
  font-family: inherit;
  font-size: 18px;
  border: none;
  text-decoration: none;
  letter-spacing: 0.15em;
}

.fun-buttons:hover {
  transform: scale(1.1);
  transition: ease 0.3s;
}


.fun-buttons:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.fun-buttons:hover:after {
  width: 100%;
  left: 0;
}

#img-home-logo {
  width: 200px;
}

.spacer {
  height: 50px;
}

.listings-header {
  text-align: center;
  letter-spacing: 0.1em;
  color: #335634;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.listings {
  display: flex;
  flex-flow: row wrap;
  /* flex-direction: row;
  flex-wrap: wrap; */
  justify-content: center;
}

.listing {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 300px;
  padding: 0px;
  margin: 25px;
  color: #383838;
}

.listing-image {
  width: 100%;
  height: 140px;
}

.listing-name {
  font-size: 16px;
  font-weight: 300;
}

.listing-details {
  padding: 5px;
}

.listing-description {
  font-size: 90%;
  height: 7em;
  margin: 5px 0px;
  padding: 5px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.listing-name {
  padding: 10px 0px;
  font-weight: bolder;
  font-size: 1.5em;
}

.listing-price-per-night {
  float: right;
  font-size: 18px;
}

.price-text {
  font-size: 16px;
  font-weight: 100;
}

.availability {
  font-family: open sans, sans-serif;
  font-weight: 100;
  text-decoration: underline;
}